@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotation-2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.bg_header{
  background: #f0efe8;
}

h1,h2,h3,h5{
   font-family: 'Della Respira', serif;
}
p,a,li{
  font-family: 'Raleway', sans-serif;
}
.description{
  line-height: 30px;
}
.baseline{
  font-size: 20px;
  font-weight:400;
  line-height: 150%;
}

header{
  height:730px;
}
.logo{
    width:1000px;
    height:330px;
    margin:20px auto;
    position:relative;  
   
}
.index-1{
    position:relative;
    z-index:1;  
}

.index-2{
    position:relative;
    z-index:2;  
}
.index-3{
    position:relative;
    z-index:0;  
}
  .gear-img {
    width:18%;
    animation: rotation 30s infinite;
    position: absolute;
    left: 400px;
    top: 80px;
    filter:grayscale(30%)
  }
  .position-2 {
    width:13%;
    animation: rotation-2 30s infinite;
    position:absolute;  
    left: 576px;
    top: 110px;
    filter:grayscale(50%)
  }
  .position-3 {
    width:14%;
    animation: rotation-2 30s infinite;
    position:absolute;
    left: 282px;
    top: 35px;
    filter:grayscale(70%)
  }
  .position-4 {
    width:11%;
    animation: rotation 30s infinite;
    position:absolute;  
    left: 184px;
    top: 88px;
  }
  .position-5 {
    width:5%;
    animation: rotation-2 30s infinite;
    position:absolute; 
    left: 762px;
    top: 75px;
  }
  .position-6 {
    width:5%;
    animation: rotation-2 30s infinite;
    position:absolute; 
    left: 148px;
    top: 160px; 
  }
  .position-7 {
    width:8%;
    animation: rotation 30s infinite;
    position:absolute; 
    left: 575px;
    top: 235px; 
   
  }
  .position-8 {
    width:8%;
    animation: rotation 30s infinite;
    position:absolute; 
    left: 688px;
    top: 85px; 
  }
  .position-9 {
    width:13%;
    animation: rotation 30s infinite;
    position: absolute;
    left: 300px;
    top: 130px; 
  }
  .position-10 {
    width:8%;
    animation: rotation-2 30s infinite;
    position:absolute;  
    left: 400px;
    top: 84px;
  }
  .position-11 {
    width:9%;
    animation: rotation-2 30s infinite;
    position:absolute;
    left: 238px;
    top: 80px;
  }
  .position-12 {
    width:6%;
    animation: rotation 30s infinite;
    position:absolute;  
    left: 196px;
    top: 140px;
  }
  .position-13 {
    width:7%;
    animation: rotation-2 30s infinite;
    position:absolute; 
    left: 195px;
    top: 203px;
  }
  .position-14 {
    width:11%;
    animation: rotation-2 30s infinite;
    position:absolute; 
    left: 550px;
    top: 187px; 
  }
  .position-15 {
    width:13%;
    animation: rotation 30s infinite;
    position:absolute; 
    left: 635px;
    top: 105px; 
    filter:sepia(25%);
   
  }
  .position-16 {
    width:8%;
    animation: rotation-2 30s infinite;
    position:absolute; 
    left: 760px;
    top: 160px; 
  }
  
li{
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
}

a.btn ,button.btn{
  background-color:#c36265;
  border-style: none;
}
a.btn:hover{
  background-color:#e8c46a;
}
a.nav-link{
  color:black;
}
a.nav-link:hover{
  color:#8f7d4f;
}

.portrait{
  filter:grayscale(100%);
  width:40%;
 
}
.bg_competence{
  background: url("../img/clock-976234_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.width-img{
  height:180px;
  object-fit:cover;
  object-position:top;
}
.bg_footer{
  background: #a0852d;
  height:75px;
  color:white;
}
i{
  font-size: 26px;
  
}